<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <h1>Contact Form</h1>
            <p style="color:red;">{{ error }}</p>
            <form method="post" action="#">
                <div>
                    <label for="name">Name</label>
                    <input name="name" id="name" v-model="name"/>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input name="email" id="email" v-model="email"/>
                </div>
                <div>
                    <label for="message">Message</label>
                    <textarea name="message" id="message" v-model="message"></textarea>
                </div>
                <button @click.prevent = "validateForm">Send Form</button>
            </form>
            <h2>Form Details</h2>
                <p><strong>Name</strong> {{ name }}</p>
                <p><strong>Email</strong> {{ email }}</p>
                <p><strong>Message</strong> {{ message }}</p>
        </div>

        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    name: '',
                    email: '',
                    message: '',
                    error: '',
                },
                methods: {
                    validateForm: function() {
                        if(this.name.length && this.email.length && this.message.length){
                            return this.error = "Form Successfully sent!"
                        }
                        return this.error = "Form failed"
                    }
                }
            })
        </script>
    </body>
</html>